name: Exo3

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Run script
        run: echo "Workflow runs every 5 minutes or manually"
